Source: unison
Section: net
Priority: optional
Maintainer: Sylvain Le Gall <sylvain.le-gall@polytechnique.org>
Build-Depends: debhelper (>= 4.0.0), ocaml-nox (>= 3.09.1), liblablgtk2-ocaml-dev, dpatch, chrpath
Standards-Version: 3.6.2.0
XS-X-Vcs-Svn: svn://svn.debian.org/svn/pkg-ocaml-maint/trunk/packages/unison

Package: unison
Architecture: any
Depends: ${shlibs:Depends}, ${interpreter:Depends}
Recommends: ssh-client | openssh-client
Conflicts: unison (<< 2.9.1-3)
Description: A file-synchronization tool for Unix and Windows
 Unison is a file-synchronization tool for Unix and Windows, written
 in OCaml. It allows two replicas of a collection of files and
 directories to be stored on different hosts (or different disks
 on the same host), modified separately, and then brought up to
 date by propagating the changes in each replica to the other.
 .
 Unison offers several advantages over various synchronization methods
 such as CVS, Coda, rsync, Intellisync, etc. Unison can run on and
 synchronize between Windows and many UNIX platforms. Unison requires
 no root privileges, system access or kernel changes to function. Unison
 can synchronize changes to files and directories in both directions,
 on the same machine, or across a network using ssh or a direct
 socket connection.
 .
 Transfers are optimised using a version of the rsync protocol, 
 making it ideal for slower links. Unison has a clear and precise 
 specification, and is resilient to failure due to its careful 
 handling of the replicas and its private structures.

Package: unison-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${interpreter:Depends}
Conflicts: unison-gtk (<< 2.9.1-3)
Recommends: ssh-askpass, ssh-client | openssh-client
Description: A file-synchronization tool for Unix and Windows - GTK interface
 This package adds the optional GTK interface to the file synchronization
 tool 'unison'.
