#!/usr/bin/make -f

# In order to use dpatch 
include /usr/share/dpatch/dpatch.make
OCAMLABI=$(shell ocamlc -version)

PACKAGE=$(shell dpkg-parsechangelog | awk "/Source: .*/ { gsub(\"Source: \",\"\"); print }")

# Variable that will be replaced in files

VERSION=$(shell dpkg-parsechangelog | awk "/Version: .*/ { gsub(\"Version: \",\"\"); gsub(\"-.*\",\"\"); print; }")
# Package version should be set to the version you want to be appended to 
# the package name

# PRIORITY should be set to 10 for stable compatibility package 
# and to 20 for unstable/testing package

ifeq ($(PACKAGE),unison)
PACKAGE_VERSION=
PRIORITY=20
else
PACKAGE_VERSION=$(VERSION)
PRIORITY=10
endif

UNISON=unison-$(VERSION)
UNISON_MAJ=UNISON-$(VERSION)
UNISON_PACKAGE=unison$(PACKAGE_VERSION)
UNISON_ALTERNATIVE=$(if $(PACKAGE_VERSION),$(UNISON),unison-latest-stable)

UNISON_GTK=unison-$(VERSION)-gtk
UNISON_GTK_PACKAGE=$(UNISON_PACKAGE)-gtk
UNISON_GTK_ALTERNATIVE=$(if $(PACKAGE_VERSION),$(UNISON_GTK),unison-latest-stable-gtk)

# End of variable to be replaced

# set $(NATIVE) to true if this arch has an optimising compiler
NATIVE := $(shell test -x /usr/bin/ocamlopt -o -x /usr/bin/ocamlopt.opt && echo true || echo false)
UISTYLE := $(shell dpkg --compare-versions 2.10 ge $(VERSION) && echo gtk || echo gtk2)

# which file to rename for following the version
RENAME := debian/unison.1.in 
RENAME += debian/unison.dirs.in 
RENAME += debian/unison.doc-base.in
RENAME += debian/unison.postinst.in
RENAME += debian/unison.prerm.in
RENAME += debian/unison.preinst.in
RENAME += debian/unison.manpages.in
RENAME += debian/unison-gtk.dirs.in
RENAME += debian/unison-gtk.menu.in
RENAME += debian/unison-gtk.postinst.in
RENAME += debian/unison-gtk.prerm.in
RENAME += debian/unison-gtk.preinst.in
RENAME += debian/unison-gtk.manpages.in

debian/control: debian/control.in
	sed -e 's%#OCamlABI#%$(OCAMLABI)%' $@.in >$@

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	
	# rename all the debhelper files needed and substitue the @VERSION@
	# string
	for i in $(RENAME); do \
	  DST=$$i; \
	  DST=$${DST/unison/$(UNISON_PACKAGE)}; \
	  DST=$${DST%%.in}; \
	  sed -e "\
	    s/@VERSION@/$(VERSION)/g;                               \
	    s/@PACKAGE_VERSION@/$(PACKAGE_VERSION)/g;               \
	    s/@PRIORITY@/$(PRIORITY)/g;                             \
	    s/@UNISON@/$(UNISON)/g;                                 \
	    s/@UNISON_MAJ@/$(UNISON_MAJ)/g;                         \
	    s/@UNISON_PACKAGE@/$(UNISON_PACKAGE)/g;                 \
	    s/@UNISON_ALTERNATIVE@/$(UNISON_ALTERNATIVE)/g;         \
	    s/@UNISON_GTK@/$(UNISON_GTK)/g;                         \
	    s/@UNISON_GTK_PACKAGE@/$(UNISON_GTK_PACKAGE)/g;         \
	    s/@UNISON_GTK_ALTERNATIVE@/$(UNISON_GTK_ALTERNATIVE)/g; \
	    " $$i > \
	  $$DST; \
	done
	
	# We always need to rename the manual 
	mv debian/$(UNISON_PACKAGE).1 debian/$(UNISON).1
	# We copy unison.1 to unison-gtk.1
	cp debian/$(UNISON).1 debian/$(UNISON_GTK).1

	$(MAKE) UISTYLE=$(UISTYLE) NATIVE=$(NATIVE) 
	mv unison $(UNISON_GTK)
	
	$(MAKE) UISTYLE=text NATIVE=$(NATIVE) 
	mv unison $(UNISON)

	env HOME=$(CURDIR) $(CURDIR)/$(UNISON) -doc all > $(CURDIR)/unison-manual.txt

	if [ "x$(NATIVE)" = "xtrue" ]; then         \
		/usr/bin/chrpath -d $(UNISON_GTK);  \
	fi

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	-$(RM) build-stamp configure-stamp
	# remove the renamed files
	-for i in $(RENAME); do \
	  DST=$$i; \
	  DST=$${DST/unison/$(UNISON_PACKAGE)}; \
	  DST=$${DST%%.in}; \
	  $(RM) $$DST; \
	done
	-$(RM) debian/$(UNISON).1 debian/$(UNISON_GTK).1 unison-manual.txt $(UNISON_GTK) $(UNISON)
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install -o root -g root -m 755 $(UNISON) \
	  $(CURDIR)/debian/$(UNISON_PACKAGE)/usr/bin
	install -o root -g root -m 755 $(UNISON_GTK) \
	  $(CURDIR)/debian/$(UNISON_GTK_PACKAGE)/usr/bin
	# Creating symlink from binary to $(UNISON_ALTERNATIVE) and $(UNISON_GTK_ALTERNATIVE)
	for i in \
	  $(CURDIR)/debian/$(UNISON_PACKAGE)/usr/bin/$(UNISON_ALTERNATIVE) \
	  $(CURDIR)/debian/$(UNISON_PACKAGE)/usr/share/man/man1/$(UNISON_ALTERNATIVE).1.gz \
	  $(CURDIR)/debian/$(UNISON_GTK_PACKAGE)/usr/bin/$(UNISON_GTK_ALTERNATIVE) \
	  $(CURDIR)/debian/$(UNISON_GTK_PACKAGE)/usr/share/man/man1/$(UNISON_GTK_ALTERNATIVE).1.gz \
	  ; do \
	  FILENAME=$${i##*/}; \
	  FILENAME=$${FILENAME/$(UNISON_ALTERNATIVE)/$(UNISON)}; \
	  FILENAME=$${FILENAME/$(UNISON_GTK_ALTERNATIVE)/$(UNISON_GTK)}; \
	  if ! [ -e $$i ] && ! [ -L $$i ]; then \
	    ln -s $$FILENAME \
	      $$i; \
	  fi \
	done

binary-indep: build install

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	# Move temporarly the doc-base.in because dh_installdocs will take it into consideration
	mv debian/unison.doc-base.in debian/unison.doc-base-in
	dh_installdocs -a -A BUGS.txt TODO.txt unison-manual.txt
	mv debian/unison.doc-base-in debian/unison.doc-base.in
	dh_installmenu -a
	dh_installman -a
	dh_installchangelogs -a -A NEWS 
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	if [ "x$(NATIVE)" = "xtrue" ]; then\
	    for i in debian/*.substvars; do \
	      echo "interpreter:Depends=" >> $$i;\
	    done;\
	    dh_strip -a;\
	  else\
	    for i in debian/*.substvars; do \
	      echo "interpreter:Depends=ocaml-base-3.08.3" >> $$i;\
	    done;\
	fi
	dh_gencontrol -a -- -VF:OCamlABI="$(OCAMLABI)"
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
