#!/usr/bin/make -f

# In order to use dpatch 
include /usr/share/dpatch/dpatch.make

PACKAGE=unison
VERSION=2.10.2
# PRIORITY should be set to 10 for stable compatibility package 
# and to 20 for unstable/testing package
PRIORITY=20

# set $(NATIVE) to true if this arch has an optimising compiler
NATIVE := $(shell test -x /usr/bin/ocamlopt -o -x /usr/bin/ocamlopt.opt && echo true || echo false)

# which file to rename for following the version
RENAME := debian/unison.1 
RENAME += debian/unison.dirs 
RENAME += debian/unison.doc-base 
RENAME += debian/unison.docs 
RENAME += debian/unison.postinst
RENAME += debian/unison.prerm
RENAME += debian/unison-gtk.dirs 
RENAME += debian/unison-gtk.menu
RENAME += debian/unison-gtk.postinst
RENAME += debian/unison-gtk.prerm

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	
	# rename all the debhelper files needed and substitue the @VERSION@
	# string
	for i in $(RENAME); do \
	  sed -e "s/@VERSION@/$(VERSION)/g" $$i | sed -e "s/@PRIORITY@/$(PRIORITY)/g" > $${i/unison/unison$(VERSION)}; \
	done

	$(MAKE) UISTYLE=gtk2 NATIVE=$(NATIVE) NAME=unison$(VERSION)-gtk
	
	$(MAKE) UISTYLE=text NATIVE=$(NATIVE) NAME=unison$(VERSION)

	$(CURDIR)/unison$(VERSION) -doc all > $(CURDIR)/unison-manual.txt

	if [ "x$(NATIVE)" = "xtrue" ]; then                 \
		/usr/bin/chrpath -d unison$(VERSION)-gtk;  \
	fi

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	-$(RM) build-stamp configure-stamp
	# remove the renamed files
	-for i in $(RENAME); do \
	  $(RM) $${i/unison/unison$(VERSION)}; \
	done
	-$(RM) unison$(VERSION)-manual.txt unison$(VERSION)-gtk unison$(VERSION)
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install -o root -g root -m 755 unison$(VERSION) \
	  $(CURDIR)/debian/unison$(VERSION)/usr/bin
	install -o root -g root -m 755 unison$(VERSION)-gtk \
	  $(CURDIR)/debian/unison$(VERSION)-gtk/usr/bin
	ln -s unison$(VERSION) \
	  $(CURDIR)/debian/unison$(VERSION)-gtk/usr/share/doc/unison$(VERSION)-gtk
	ln -s unison$(VERSION).1.gz \
	  $(CURDIR)/debian/unison$(VERSION)-gtk/usr/share/man/man1/unison$(VERSION)-gtk.1.gz

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmenu
	dh_installman debian/unison$(VERSION).1
	dh_installchangelogs NEWS
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	if [ "x$(NATIVE)" = "xtrue" ]; then\
	    for i in debian/*.substvars; do \
	      echo "interpreter:Depends=" >> $$i;\
	    done;\
	    dh_strip -a;\
	  else\
	    for i in debian/*.substvars; do \
	      echo "interpreter:Depends=ocaml-base-3.08.3" >> $$i;\
	    done;\
	fi
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
